h1{
    text-align: center;
    color: rgb(65, 65, 216);
}
p{
    text-align: 10px 10ox 20px;
    text font-family: width:10px height:10px ;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
*{
    margin: 0px;
}
h3{
    tex
}
button{
    color: box-flex-group: 10px 15px 20px;
    ;
    background-color: blue
}